In [1]:
import pandas as pd
import sqlalchemy
from matplotlib import pyplot as plt
import datetime
import copy
import numpy as np

# EMAs

In [2]:
sleep = [1,4,7,10,13,16,19,22,25,28]
exercise = [2,5,8,11,14,17,20,23,26]
social = [3,6,9,12,15,18,21,24,27]

In [12]:
df_sleep = pd.DataFrame()
df_sleep['Study ID'] = []
for i in sleep:
    df_temp = pd.read_csv('/data/meditation/majid/surveys/{}.csv'.format(str(i)), skiprows=[1,2])
    df_temp = df_temp[df_temp['Finished']==1]
    df_temp = df_temp.sort_values(by = 'EndDate', ascending = False)
    df_temp = df_temp.drop_duplicates(subset = "Study ID")
    df_temp = df_temp[['Study ID',
                       'ESAT_13',#happy
                       'ESAT_8',#sad
                        'Sleep_D{}'.format(str(i))
                         ]]
    df_temp['Study ID'] = df_temp['Study ID'].apply(lambda x: int(x))
    df_temp.columns = ['Study ID','Happy_D{}'.format(str(i)),'Sad_D{}'.format(str(i)),'Sleep_D{}'.format(str(i))]
    uniq_study_id = list(set(df_sleep['Study ID'].tolist()+df_temp['Study ID'].tolist()))
    df_merge_temp = pd.DataFrame()
    df_merge_temp['Study ID'] = uniq_study_id
    df_merge_temp = df_merge_temp.merge(df_sleep, on = 'Study ID', how = 'left')
    df_merge_temp = df_merge_temp.merge(df_temp, on = 'Study ID', how = 'left')
    df_sleep = copy.deepcopy(df_merge_temp)
    
df_sleep

,Study ID,Happy_D1,Sad_D1,Sleep_D1,Happy_D4,Sad_D4,Sleep_D4,Happy_D7,Sad_D7,Sleep_D7,...,Sleep_D19,Happy_D22,Sad_D22,Sleep_D22,Happy_D25,Sad_D25,Sleep_D25,Happy_D28,Sad_D28,Sleep_D28
0,29868038,3.0,2.0,1.0,5.0,1.0,1.0,3.0,2.0,1.0,...,1.0,3.0,3.0,0.0,5.0,1.0,0.0,4.0,2.0,2.0
1,42631174,2.0,3.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,...,3.0,1.0,5.0,4.0,3.0,3.0,3.0,1.0,5.0,2.0
2,81657864,NaN,NaN,NaN,2.0,3.0,1.0,1.0,3.0,1.0,...,1.0,2.0,1.0,1.0,3.0,1.0,1.0,3.0,1.0,2.0
3,49217553,4.0,1.0,3.0,3.0,1.0,2.0,NaN,NaN,NaN,...,3.0,4.0,1.0,3.0,4.0,2.0,3.0,4.0,1.0,3.0
4,72564754,5.0,1.0,3.0,4.0,1.0,3.0,5.0,1.0,5.0,...,3.0,5.0,5.0,4.0,5.0,1.0,5.0,5.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1633,35446766,1.0,2.0,5.0,2.0,3.0,5.0,1.0,4.0,4.0,...,5.0,1.0,1.0,5.0,1.0,5.0,3.0,1.0,1.0,4.0
1634,33628144,4.0,1.0,5.0,4.0,1.0,5.0,3.0,2.0,3.0,...,4.0,4.0,2.0,4.0,NaN,NaN,NaN,3.0,2.0,4.0
1635,67592177,5.0,1.0,4.0,4.0,1.0,4.0,NaN,NaN,NaN,...,4.0,5.0,1.0,4.0,5.0,1.0,4.0,5.0,1.0,4.0
1636,42418168,3.0,3.0,2.0,3.0,2.0,3.0,3.0,2.0,2.0,...,2.0,4.0,2.0,2.0,4.0,2.0,2.0,4.0,2.0,2.0
1637,50028541,3.0,1.0,3.0,3.0,1.0,5.0,3.0,1.0,4.0,...,5.0,2.0,2.0,4.0,3.0,1.0,5.0,2.0,1.0,4.0

In [4]:
df_sleep.to_csv("survey_sleep.csv", index = False)

In [5]:
df_social = pd.DataFrame()
df_social['Study ID'] = []
for i in social:
    df_temp = pd.read_csv('/data/meditation/majid/surveys/{}.csv'.format(str(i)), skiprows=[1,2])
    df_temp = df_temp[df_temp['Finished']==1]
    df_temp = df_temp.sort_values(by = 'EndDate', ascending = False)
    df_temp = df_temp.drop_duplicates(subset = "Study ID")
    df_temp = df_temp[['Study ID',
                       'ESAT_13',#happy
                       'ESAT_8',#sad
                        'Social_D{}'.format(str(i))
                         ]]
    df_temp['Study ID'] = df_temp['Study ID'].apply(lambda x: int(x))
    df_temp.columns = ['Study ID','Happy_D{}'.format(str(i)),'Sad_D{}'.format(str(i)),'Social_D{}'.format(str(i))]
    uniq_study_id = list(set(df_social['Study ID'].tolist()+df_temp['Study ID'].tolist()))
    df_merge_temp = pd.DataFrame()
    df_merge_temp['Study ID'] = uniq_study_id
    df_merge_temp = df_merge_temp.merge(df_social, on = 'Study ID', how = 'left')
    df_merge_temp = df_merge_temp.merge(df_temp, on = 'Study ID', how = 'left')
    df_social = copy.deepcopy(df_merge_temp)
    
df_social

,Study ID,Happy_D3,Sad_D3,Social_D3,Happy_D6,Sad_D6,Social_D6,Happy_D9,Sad_D9,Social_D9,...,Social_D18,Happy_D21,Sad_D21,Social_D21,Happy_D24,Sad_D24,Social_D24,Happy_D27,Sad_D27,Social_D27
0,29868038,4.0,2.0,4.0,NaN,NaN,NaN,3.0,2.0,3.0,...,5.0,4.0,2.0,5.0,1.0,5.0,1.0,5.0,1.0,5.0
1,42631174,5.0,5.0,0.0,4.0,4.0,5.0,4.0,1.0,2.0,...,2.0,5.0,5.0,3.0,5.0,1.0,5.0,1.0,5.0,3.0
2,81657864,2.0,3.0,1.0,3.0,2.0,0.0,3.0,2.0,1.0,...,1.0,4.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0
3,49217553,3.0,2.0,3.0,4.0,1.0,5.0,4.0,2.0,4.0,...,NaN,4.0,1.0,3.0,3.0,2.0,3.0,4.0,1.0,3.0
4,72564754,5.0,1.0,5.0,NaN,NaN,NaN,5.0,1.0,5.0,...,3.0,5.0,1.0,3.0,5.0,1.0,5.0,5.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612,35446766,2.0,5.0,1.0,3.0,1.0,3.0,4.0,1.0,4.0,...,2.0,5.0,1.0,5.0,2.0,1.0,4.0,2.0,2.0,3.0
1613,33628144,4.0,1.0,4.0,2.0,2.0,3.0,NaN,NaN,NaN,...,2.0,4.0,1.0,1.0,5.0,1.0,2.0,4.0,1.0,2.0
1614,67592177,4.0,1.0,3.0,4.0,1.0,3.0,4.0,1.0,4.0,...,3.0,5.0,1.0,3.0,5.0,1.0,4.0,5.0,1.0,3.0
1615,42418168,3.0,2.0,1.0,3.0,2.0,1.0,3.0,1.0,2.0,...,1.0,NaN,NaN,NaN,4.0,2.0,1.0,4.0,2.0,1.0
1616,50028541,3.0,2.0,5.0,3.0,1.0,5.0,2.0,1.0,5.0,...,5.0,2.0,1.0,5.0,2.0,1.0,5.0,2.0,1.0,3.0

In [6]:
df_social.to_csv("survey_social.csv", index = False)

In [7]:
df_exercise = pd.DataFrame()
df_exercise['Study ID'] = []
for i in exercise:
    df_temp = pd.read_csv('/data/meditation/majid/surveys/{}.csv'.format(str(i)), skiprows=[1,2])
    df_temp = df_temp[df_temp['Finished']==1]
    df_temp = df_temp.sort_values(by = 'EndDate', ascending = False)
    df_temp = df_temp.drop_duplicates(subset = "Study ID")
    df_temp = df_temp[['Study ID',
                       'ESAT_13',#happy
                       'ESAT_8',#sad
                        'Exercise_D{}'.format(str(i))
                         ]]
    df_temp['Study ID'] = df_temp['Study ID'].apply(lambda x: int(x))
    df_temp.columns = ['Study ID','Happy_D{}'.format(str(i)),'Sad_D{}'.format(str(i)),'Exercise_D{}'.format(str(i))]
    uniq_study_id = list(set(df_exercise['Study ID'].tolist()+df_temp['Study ID'].tolist()))
    df_merge_temp = pd.DataFrame()
    df_merge_temp['Study ID'] = uniq_study_id
    df_merge_temp = df_merge_temp.merge(df_exercise, on = 'Study ID', how = 'left')
    df_merge_temp = df_merge_temp.merge(df_temp, on = 'Study ID', how = 'left')
    df_exercise = copy.deepcopy(df_merge_temp)
    
df_exercise

,Study ID,Happy_D2,Sad_D2,Exercise_D2,Happy_D5,Sad_D5,Exercise_D5,Happy_D8,Sad_D8,Exercise_D8,...,Exercise_D17,Happy_D20,Sad_D20,Exercise_D20,Happy_D23,Sad_D23,Exercise_D23,Happy_D26,Sad_D26,Exercise_D26
0,29868038,2.0,3.0,2.0,5.0,1.0,1.0,2.0,3.0,2.0,...,2.0,5.0,1.0,1.0,5.0,1.0,2.0,2.0,5.0,0.0
1,42631174,4.0,3.0,1.0,4.0,4.0,1.0,4.0,4.0,1.0,...,1.0,4.0,1.0,0.0,4.0,2.0,1.0,5.0,1.0,1.0
2,81657864,3.0,3.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,...,2.0,2.0,2.0,0.0,1.0,4.0,0.0,2.0,2.0,2.0
3,49217553,4.0,1.0,3.0,4.0,1.0,5.0,NaN,NaN,NaN,...,4.0,4.0,1.0,4.0,4.0,1.0,3.0,NaN,NaN,NaN
4,72564754,4.0,1.0,1.0,5.0,1.0,2.0,5.0,1.0,2.0,...,1.0,5.0,1.0,1.0,5.0,1.0,0.0,5.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1621,35446766,1.0,4.0,1.0,2.0,2.0,0.0,1.0,2.0,2.0,...,2.0,2.0,1.0,1.0,2.0,3.0,1.0,1.0,3.0,0.0
1622,33628144,5.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,5.0,1.0,1.0,3.0,2.0,1.0
1623,67592177,4.0,1.0,1.0,4.0,1.0,1.0,4.0,2.0,1.0,...,1.0,4.0,1.0,1.0,5.0,1.0,2.0,5.0,1.0,2.0
1624,42418168,3.0,2.0,1.0,3.0,2.0,1.0,3.0,2.0,1.0,...,NaN,3.0,2.0,2.0,NaN,NaN,NaN,4.0,2.0,1.0
1625,50028541,2.0,3.0,3.0,3.0,2.0,5.0,2.0,1.0,4.0,...,5.0,2.0,1.0,5.0,2.0,1.0,5.0,2.0,1.0,2.0

In [8]:
df_exercise.to_csv("survey_exercise.csv", index = False)

# consent

In [9]:
df_id = pd.read_csv("/data/meditation/majid/tables/id.csv")
df_id = df_id.drop_duplicates('study_id')
df_id = df_id.drop('id', axis = 1)
df_id.columns = ['device_id','Study ID']

df_group = pd.read_csv('/data/meditation/majid/surveys/0.csv', skiprows=[1,2])[['Study ID','Group']]
df_group = df_id.merge(df_group, on = 'Study ID', how = 'left')
df_group

                               device_id  Study ID                   Group
0   4a23c5dc-9a50-4d46-a12d-dd94ee98270f   8415477  Experimental Condition
1   f3845ba4-8702-42cf-a14f-051c46f66b61  15027959          Active Control
2   ae02314b-a607-41b9-9507-28ffa1babed7  73386307          Active Control
3   b460f89e-fd76-46ff-a960-989d74fcb66a  87785016          Active Control
4   e5048fab-dc20-4d99-8cea-220a5a2750e0  14851895         Passive Control
..                                   ...       ...                     ...
64  780c9b18-72d3-4714-858d-3c91b3719155  21788465          Active Control
65  a1118578-bbb4-47ef-b784-7d5bd09ad8b5   7389236         Passive Control
66  00e17b8a-4b0f-4230-bd26-3df2853e8916  69546645  Experimental Condition
67  029e57cb-fa0d-479d-abd2-9cb5745f219d  72690342         Passive Control
68  826fee95-bb60-4915-9e63-d027bf225eb5  49211890          Active Control

[69 rows x 3 columns]